<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Diffusion Limited Aggregation Simulator</title>
</head>
<body>
  <section id="simulator" data-row="<%=row%>" data-col="<%=col%>" data-open-topology="true">
  <% for (let i = -1; i <= row; i++) { 
       for (let j = -1; j <= col; j++) { %>
        <div class="pixel <%= (i <0 || j < 0 || i == row || j == col)? `hidden` : null%>" id="<%=`pixel-${i}-${j}`%>"></div>
    <% }
     } 
  %>
  </section>


  
  <script src="js/main.js"></script>
</body>
</html>