<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Diffusion Limited Aggregation Simulator</title>
</head>
<body>
  <section id="options">
    <h2>Options</h2>
    <p>These options enable customization of the simulation parameters.  You'll notice that
      the original seeds in the simulation are black.  Those which have aggregated are mostly
      red, except for the odd one which is brown.  Those brown coloured pixels occur where more 
      than one particle has joined the aggregate. Changing this parameters during the simulation 
      can be interesting, however it will also change the appearance of the aggregate.  
    </p>
    
    <p>By default the simulation takes place on a closed topology, which means all of the sides 
      are connection to each other--as if the square was really a sphere.  Opening the topology 
      means that the particles are free to leave the system making the diffusion much more 
      sparse.  
    </p>
    <p>Add more particles adds another batch of particles to the simulation.  This will often 
      seed up the convergence, but can change the shape of the aggregate--especially if added 
      later in the simulation.
    </p>
    <p>The degrees of freedom specifies how many directions the particles can move in, and whether 
      they converge only perpendicularly, or in increments of &pi;/4 radians.

    </p>
    <section id="controls">
      <div>
        <label for="topology">Open topology: </label>
        <input type="checkbox" name="topology" id="topology">
      </div>
      <div>
        <label for="degreesFreedom">Degrees of freedom: </label>
        <select name="degreesFreedom" id="degreesFreedom">
          <option value="4">4</option>
          <option value="8">8</option>
        </select>
      </div>
      <button id="begin">Add more particles</button>
      <button id="reset">Reset</button>
    </section>
  </section>

  <section id="simulator" data-row="<%=row%>" data-col="<%=col%>" data-open-topology="false">
  <% for (let i = -1; i <= row; i++) { 
       for (let j = -1; j <= col; j++) { %>
        <div class="pixel <%= (i <0 || j < 0 || i == row || j == col)? `hidden` : null%>" id="<%=`pixel_${i}_${j}`%>"></div>
    <% }
     } 
  %>
  </section>



  
  <script src="js/main.js"></script>
</body>
</html>