body {
  background-color: #ddd;
  text-align: center;
  padding: 0;
  display: flex;
}

#options {
  box-sizing: border-box;
  width: 25vw;
  box-shadow: 10px 0 5px 0px #888;  
  padding: 1vw 0.75vw 1vw 0.5vw;
  text-align: justify;
}

#options h2 {
  text-align: center;
}

#controls {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#simulator {
  width: 40vw;
  height: 40vw;
  margin: 2vw auto;
  border: solid 5px rgb(168, 168, 168);
  border-radius: 5px;
  box-shadow: 0px 0px 20px 3px black;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-flow: row wrap;
}

.pixel {
  background: #ddd;
  flex: 1 0 none;
}

.hidden {
  display: none;
}

.loose {
  background:#9a6b04;
}

.occupied {
  background-color: #fd3b00;
}

@media only screen and (max-width: 786px) {
  
}